@model List<CustomerViewModel>

<h2><span class="fa fa-group" style="margin-right: 12px;"></span>Customers</h2>

<table class="table">
    @await Component.InvokeAsync("CustomerTableRow",
        new
        {
            customerViewModel = default(CustomerViewModel),
            isHeader = true,
            extFldDefs = Model.First().ExtensionFields.Select(ef => ef.Definition)
        })
    @foreach (var customer in Model)
    {
        @await Component.InvokeAsync("CustomerTableRow", new { customerViewModel = customer })
    }
</table>

<a class="ml-btn" asp-controller="Customer" asp-action="Add"><span class="fa fa-plus" style="margin-right: 4px;"></span>Add</a>