@model List<CustomerViewModel>

<h2>Customers</h2>

<table>
    @await Component.InvokeAsync("CustomerTableRow", new { customerViewModel = default(CustomerViewModel), isHeader = true })
    @foreach (var customer in Model)
    {
        @await Component.InvokeAsync("CustomerTableRow", new { customerViewModel = customer })
    }
</table>

@Html.ActionLink("Add", "Add", "Customer")