@model List<CustomerViewModel>

<h2>Customers</h2>

<table class="table">
    @await Component.InvokeAsync("CustomerTableRow", new { customerViewModel = default(CustomerViewModel), isHeader = true })
    @foreach (var customer in Model)
    {
        @await Component.InvokeAsync("CustomerTableRow", new { customerViewModel = customer })
    }
</table>

<a class="btn btn-primary" asp-controller="Customer" asp-action="Add">Add</a>