
<h2><span class="fa fa-gear fa-2x" style="margin-right: 12px;"></span>Admin</h2>

<a asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Index" class="btn btn-sm btn-default">Extension Field Definitions</a>