<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--TODO add dev/prod env to use minified versions-->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="panel-body">
        <h1 class="page-header">MiscLearn - 3 - CustOrder</h1>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
