<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--TODO add dev/prod env to use minified versions-->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.js"></script>
</head>
<body>
    <div class="panel-body">
        <h1 class="page-header"><span class="fa fa-book fa-3x" style="margin-right: 12px;"></span>MiscLearn - 3 - CustOrder</h1>
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="index" class="navbar-btn"><span class="fa fa-home" style="margin-right: 2px;"></span>Home</a>
            </li>
        </ul>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
