@model ExtensionFieldDefinitionViewModel

<h2>Add New Extension Field Definition</h2>

<form asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Add">
    @await Component.InvokeAsync("ExtensionFieldDefinitionFormFields")
</form>