@model List<ExtensionFieldDefinitionViewModel>

<h2>Extension Field Definition Admin</h2>

<table class="table">
    @await Component.InvokeAsync("ExtensionFieldDefinitionTableRow", new { extensionFieldDefinitionViewModel = default(ExtensionFieldDefinitionViewModel), isHeader = true })
    @foreach (var extFldDef in Model)
    {
        @await Component.InvokeAsync("ExtensionFieldDefinitionTableRow", new { extensionFieldDefinitionViewModel = extFldDef })
    }
</table>

<a class="btn btn-primary" asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Add">Add</a>