@model CustomerViewModel

<div>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
</div>
<div>
    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
</div>
@foreach (var custExtFld in Model.ExtensionFields)
{
    <div>
        <label>@custExtFld.Definition.Name</label>
        <input name="efd_@custExtFld.Definition.Id" value="@custExtFld.Value" />
    </div>
}    

<div>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Index">Cancel</a>
</div>
<input type="hidden" asp-for="Id" />