@model CustomerViewModel

<div>
    <label asp-for="FirstName"></label>
    <input type="text" name="FirstName" id="FirstName" />
</div>
<div>
    <label asp-for="LastName"></label>
    <input type="text" name="LastName" id="LastName" />
</div>
<div>
    <button type="submit">Save</button>
    <button type="button">Cancel</button>
</div>