@model ExtensionFieldDefinitionViewModel
@using MiscLearn3_CustOrder_BE

<div>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
</div>
<div>
    <label asp-for="EntityType"></label>
    <select asp-for="EntityType" asp-items="Html.GetEnumSelectList<EntityType>()"></select>
</div>
<div>
    <label asp-for="DataType"></label>
    <select asp-for="DataType" asp-items="Html.GetEnumSelectList<ExtensionFieldDataType>()"></select>
</div>
<div>
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-primary" asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Index">Cancel</a>
</div>
<input type="hidden" asp-for="Id" />